.title {
  display: flex;
  align-items: center;
  gap: 15px;

  overflow-wrap: anywhere;

  svg {
    fill: black;
  }

  .title_hide,
  .input_hide {
    display: none;
  }

  input {
    width: 35vw;
  }
}
